* {
    box-sizing: border-box;
}

body {
    font-family: "Arial", "sans-serif";
    line-height: 24px;
}

div#wrapper, footer {
    background-color: #ffeaea;
    width: 1000px;
    padding: 20px;
    margin: auto;
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    margin-right: 20px;
}

section.appel, section.plaatjes {
    width: 50%;
    float: left;
}

section.plaatjes {
    text-align: right;
}

img.appel {
    width: 497px;
}

img.plaatje {
    width: 447px;
    margin-bottom: 10px;
}

img.article {
    width: 303px;
    margin-top: 20px;
    margin-bottom: 20px;
}

article {
    display: inline-block;
    width: 33%;
    padding-right: 15px;
    vertical-align: top;
}

article:last-child {
    padding-right: 0;
}

footer {
    background-color: #a6a6a6;
    color: white;
}

footer a {
    color: white;
}